<div class="card border-primary mb-3" (click)="handleClickEvent()">
    <div class="card-header">Employee Details</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{employee.name}}</h5>
      <div class="row align-items-center">
        <div class="col col-sm-3 col-md-4">
          <img [src]="employee.photoPath" class="img-fluid rounded-circle"/>
        </div>
        <div class="col col-sm-8 sol-md-6">
          <div class="card-text">Gender: {{employee.genmder}}</div>
          <div class="card-text">DOB: {{employee.dateOfBirth}}</div>
          <div class="card-text">Email: {{employee.email}}</div>
          <div class="card-text">Phone Number: {{employee.phoneNumber}}</div>
          <div class="card-text">Contact Preference: {{employee.contactPreference}}</div>
          <div class="card-text">Department: {{employee.department}}</div>
          <div class="card-text">{{ employee.isActive === 'true' ? 'Active Employee' : 'Former Employee' }}</div>
        </div>
      </div>
    </div>
  </div>
